/* Style.css */

body{
    background: #000;
}
#loginform{
    padding: 10px;     
}
#carticon{
    color: white;
    size: 20px;
}
nav{
    position: fixed;
}

#carousel{
    margin-top: 35px;
    width: 100%;
    padding: 20px;
}
.item{
    height: 600px;
} 
.item img{
    height: 600px;
}



























