/* Style.css */

body{
    background-image: url("https://braziljournal.s3.amazonaws.com/covers/c7ca960f-87f8-0002-0003-9fd33b8cf00b.jpg?v=1533296530");
    background-size: 100%;
    background-repeat: no-repeat;
}
nav{
    background-color:rgba(0,0,0,0.5);
}































