<h2 style="margin-top:60px;text-align:center;">About Us</h2>
<div style="text-align: center;">
    This is a Pizza Ordering and Management project developed by <strong>Aditya Garg</strong>, <strong>Sanket
        Singh</strong> and <strong>Yash Lotan</strong> for Object Oriented Analysis and Design Project.
    <br>
    You can view products, addthem to cart, place an order and even update your profile.
</div>