<div id="accordion">
    <h2>Add Item</h2>
    <div id="additem" class="container-fluid">
        <form action="/admin/additem" method="POST" class="px-4 py-3">
            <div class="form-group">
                <label for="productcat">Category</label>
                <select class="form-control" id="productcat" name="category">
                    <option value="Veg">Veg</option>
                    <option value="Non-Veg">Non-Veg</option>
                    <option value="Side">Side</option>
                </select>
            </div>
            <div class="form-group">
                <label for="productsku">SKU</label>
                <input name="sku" type="text" class="form-control" id="productsku" placeholder="">
            </div>
            <div class="form-group">
                <label for="productname">Name</label>
                <input name="name" type="text" class="form-control" id="productname" placeholder="Farmhouse">
            </div>
            <div class="form-group">
                <label for="productimg">ImgURL</label>
                <input name="image_url" type="url" class="form-control" id="productimg">
            </div>
            <div class="form-group">
                <label for="productdescription">Description</label>
                <input name="description" type="text" class="form-control" id="productdescription">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
    <h2>Delete Item</h2>
    <div class="container-fliud">
        <ol id="selectable">
            {{#each products}}
            <li value="{{this.sku}}" class="ui-state-default">{{this.name}}<img src="{{this.imageUrl}}" height="60px"
                    width="80px;"></li>
            {{/each}}
        </ol>
        <button id="delete" type="submit" class="btn btn-warning col-lg-1" value="Delete" method="post">Delete</button>
    </div>
    {{orders}}
</div>