{{#if loggedIN}} <div class="container col-lg-12" id="carousel"></div>
{{else}} <div class="container col-lg-9" id="carousel"></div> {{/if}}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- wrapper for the slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <img src="https://www.slicktext.com/blog/wp-content/uploads/2015/02/food-pizza-1.jpg" alt="pizza3">
            </div>
            <div class="item">
                <img src="https://eatdrinklocal.org/wp-content/uploads/2017/06/new_product_image_1498773329_0.jpeg"
                    alt="pizza2">
            </div>
            <div class="item">
                <img src="http://www.thengakola.in/wp-content/uploads/2019/02/Pizza3.jpg" alt="pizza1">
            </div>
        </div>

        <!-- controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>
{{#if notLoggedIn}}
<div class="container col-lg-3" id="loginform">

    <h1>Login</h1>
    {{#if error}}
    <div class="danger">{{error}}</div>
    {{/if}}
    <form action="/login" method="POST" class="px-4 py-3">
        <div class="form-group">
            <label for="email">Email address</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="pass" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="admin">Admin?</label>
            <input name="admin" type="checkbox" class="form-control" id="admin">
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>
    </form><br>

    <a href="/register">New around here? Sign up</a><br>
</div>
{{/if}}