<br />
<br />
<br />
<br />
<br />
<br />
name:{{user.name}}
email:{{user.email}}
{{!-- password:{{user.password}} --}}
phone number:{{user.phoneno}}
<header class="w3-container w3-teal" id="reg">
    <h1>Profile</h1>
</header>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<div class="well">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form class="px-4 py-3" class="form-horizontal">
            <label>Name</label>
            <input type="text" value="user.name" class="input-xlarge" id="user.name"/>
            <label>Email</label>
            <input type="text" value="user.email" class="input-xlarge" id="user.email"/>
            <label>Phone number</label>
            <input type="number" value="user.phoneno" class="input-xlarge" id="user.phoneno"/>
            <label>Address</label>
            <textarea value="user.address" rows="3" class="input-xlarge" id="user.address">
            </textarea>
          	<div>
        	    <button class="btn btn-primary">Update</button>
        	</div>
        </form>
      </div>
  </div>
</div>


