<h1>{{title}}</h1>
{{#if error}}
<div style="background-color: red">{{error}}</div>
{{/if}}
<form action="/register" method="POST">
    <input type="email" name="email" value="yashlotan&@gmail.com" />
    <input type="password" name="password" value="testpassword" />
    <input type="text" name="phoneno" value="8954952132" />
    <input type="Submit" name="submit" value="Submit" />
</form>