/* Style.css */

body {
  background: #f8f8f8;
}
#loginform {
  margin-top: 70px;
  padding: 10px;
}
#carticon {
  color: white;
  size: 20px;
}
nav {
  position: fixed;
  background-color: #08f;
}
nav a {
  color: white;
}
#accordion{
  margin: 80px 100px 0px 100px;
}
#accordion h2{
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
#carousel {
  margin-top: 35px;
  padding: 10px;
}
.item {
  height: 600px;
}
.item img {
  height: 600px;
}
.carousel-caption {
  color: black;
  font-weight: 800;
}
#reg{
  margin-top: 60px;
  text-align: center;
  margin-block-end: 30px;
}
#regestrationform{
  width: 500px;
  left: 55%;
  top: 80%;
  margin-left: -25%;
  position: absolute;
  margin-top: -28%;
}
#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }
